body {
  font-family: Tahoma;
}

.container {
  position: absolute;
  display: flex;
}

.box {
  width: 100px;
  height: 150px;
  background-color: #eeeff2;
  border-left: 10px dotted #D0D0FF;
  margin-right: 10px;
  display: flex;
  font-size: 40px;
  padding-left: 10px;
}

.box:hover {
  background-color: yellow;
  color: goldenrod;
  cursor: pointer;
}

.box#last {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}
